html,body,.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(92,92,92);
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.slide1{
    background: url("../img/timg (1).jpg") no-repeat;
    background-size: cover;
}
.slide1 img{
    position: absolute;
    opacity: 0;
}
.slide1 img:nth-of-type(1){
    top: 0.9rem;
    left: 1.9rem;
}
.slide1 img:nth-of-type(2){
    top: 1.3rem;
    left: 3rem;
}
.slide1 img:nth-of-type(3){
    top: 1.9rem;
    left:2.4rem;
}
.slide1 img:nth-of-type(4){
    top: 2.9rem;
    left: 3rem;
}
.slide1 img:nth-of-type(5){
    top: 3.9rem;
    left: 2.9rem;
}
.slide1 img:nth-of-type(6){
    top: 3.1rem;
    left: 2.4rem;
}
.slide1 img:nth-of-type(7){
    top: 3.1rem;
    left: 2.7rem;
}
.slide1 img:nth-of-type(8){
    top: 1rem;
    left: 2rem;
}
.slide1 p{
    width: 4rem;
    text-align: center;
    line-height: 2rem;
    margin: 7rem auto;
    font-size: 29px;
    color: transparent;
    text-shadow:0 0 2px #000000;
    display: none;
}
#page1 p{
    -webkit-animation: flipInX  1.5s 1 2s both;
    animation: flipInX 1.5s 1 2s both;
    display: block;
}
#page1 img{
    opacity: 1;
}
#page1 img:nth-child(1){
    -webkit-animation:zoomIn 1s 1 0s both;
    animation:zoomIn 1s 1 0s both;
}
#page1 img:nth-child(2){
    -webkit-animation:bounceInRight 2s 1 0.1s both;
    animation:bounceInRight 2s 1 0.1s both;
}
#page1 img:nth-child(3){
    -webkit-animation:bounceInUp 2s 1 0.2s both;
    animation:bounceInUp 2s 1 0.2s both;
}
#page1 img:nth-child(4){
    -webkit-animation:bounceInLeft 2s 1 .4s both;
    animation:bounceInLeft 2s 1 .4s both;
}
#page1 img:nth-child(5){
    -webkit-animation:bounceInDown 2s 1 .6s both;
    animation:bounceInDown 2s 1 .6s both;
}
#page1 img:nth-child(6){
    -webkit-animation:bounceInUp 2s 1 .8s both;
    animation:bounceInUp 2s 1 .8s both;
}
#page1 img:nth-child(7){
    -webkit-animation:bounceInLeft 2s 1 1s both;
    animation:bounceInLeft 2s 1 1s both;
}
#page1 img:nth-child(8){
    -webkit-animation:rollIn 2s 1 1.2s both;
    animation:rollIn 2s 1 1.2s both;
}
.slide2{
    background: url("../img/timg (1).jpg") no-repeat;
    background-size: cover;
}
.slide2 div{
    padding:1rem 0 0 1.2rem;
}
.slide2 p{
    display: none;
    font-size: 16px;
    line-height: 1rem;
}
.slide2 p span{
    font-weight: bold;
}


#page2.slide2 p{
    display: block;
    -webkit-animation: 3s opacity2 0s  1;
    animation: 3s opacity2 0s 1;
}
@keyframes opacity2{
    0%{opacity:0}
    50%{opacity:.5;}
    100%{opacity:1;}
}
@-webkit-keyframes opacity2{
    0%{opacity:0}
    50%{opacity:.5;}
    100%{opacity:1;}
}
.slide3{
    text-align: center;
    background: url("../img/timg (1).jpg") no-repeat;
    background-size: cover;
}
.slide3 .p{
    width: 100%;
    height: 1.5rem;
    color: black;
    margin: 1.1rem auto 0;
    font-size: .6rem;
    display: none;
}
.slide3 div{
    margin-left: .5rem;
}
.slide3 div p{
    text-align: left;
    display: none;
    font-size: .3rem;
    font-weight: bolder;
    margin: .2rem;
}
#page3 .p{
    -webkit-animation: flipInX 1.5s 1 .1s both;
    animation: flipInX 1.5s 1 .1s both;
    display: block;
}
#page3 div p{

}
#page3 div p:nth-of-type(1){
    -webkit-animation:bounceInLeft 2s 1 .2s both;
    animation:bounceInLeft 2s 1 .2s both;
    display: block;
}
#page3 div p:nth-of-type(2){
    -webkit-animation:bounceInRight 2s 1 .3s both;
    animation:bounceInRight 2s 1 .3s both;
    display: block;
}
#page3 div p:nth-of-type(3){
    -webkit-animation:bounceInLeft 2s 1 .4s both;
    animation:bounceInLeft 2s 1 .4s both;
    display: block;
}
#page3 div p:nth-of-type(4){
    -webkit-animation:bounceInRight 2s 1 .5s both;
    animation:bounceInRight 2s 1 .5s both;
    display: block;
}
#page3 div p:nth-of-type(5){
    -webkit-animation:bounceInLeft 2s 1 .6s both;
    animation:bounceInLeft 2s 1 .6s both;
    display: block;
}
#page3 div p:nth-of-type(6){
    -webkit-animation:bounceInRight 2s 1 .7s both;
    animation:bounceInRight 2s 1 .7s both;
    display: block;
}
#page3 div p:nth-of-type(7){
    -webkit-animation:bounceInLeft 2s 1 .8s both;
    animation:bounceInLeft 2s 1 .8s both;
    display: block;
}
#page3 div p:nth-of-type(8){
    -webkit-animation:bounceInRight 2s 1 .9s both;
    animation:bounceInRight 2s 1 .9s both;
    display: block;
}
.slide4{
    background: url("../img/timg (1).jpg") no-repeat;
    background-size: cover;
}
.slide4 div{
    display: none;
    border-radius: 5%;
    color: red;
    margin:.4rem .3rem;
    padding-left: .3rem;
}
.slide4 div h3{
    font-weight: bolder;
    margin-bottom: .2rem;
}
#page4 div{
    display: block;
}
#page4 div ul{
    color: #333;
    font-weight: bolder;
    border-radius: 5%;
}
#page4 div li{
    font-size: 14px;
    line-height: .4rem;
}
#page4 div:nth-child(1){
    -webkit-animation:bounceInLeft 2s 1 0s both;
    animation:bounceInLeft 2s 1 0s both;
}
#page4 div:nth-child(2){
    -webkit-animation:bounceInRight 2s 1 .2s both;
    animation:bounceInRight 2s 1 .2s both;
}
#page4 div:nth-child(3){
    -webkit-animation:bounceInLeft 2s 1 .4s both;
    animation:bounceInLeft 2s 1 .4s both;
}
#page4 div:nth-child(4){
    -webkit-animation:bounceInRight 2s 1 .6s both;
    animation:bounceInRight 2s 1 .6s both;
}
.slide5{
    background: url("../img/timg (1).jpg") no-repeat;
    background-size: cover;
}
.slide5 div{
    margin: 1rem .5rem;
    line-height: 1rem;
    font-weight: bolder;
    text-indent:2em;
    font-size: 16px;
    display: none;
}
#page5 div{
    -webkit-animation: flipInX  1.5s 1 0s both;
    animation: flipInX 1.5s 1 0s both;
    display: block;
}
.music{
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    z-index: 111;
    background: url(../audio/music.svg) no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}
.musicMove{
    -webkit-animation:move 1s infinite linear both;
    animation:move 1s infinite linear both;
}

@-webkit-keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}











